// Colors
$primary-color: #9e7f66;
$primary-dark-color: #111111;
$cesondary-color: #17192b;
$cesondary-clay-color: #242b37;
$cesondary-gray-color: #5c6779;
$white-color: #fff;

// background color
$white-bg-color: #fff;
$black-bg-color: #000;

// fonts
$site-fonts: "League Spartan", "Arial", sans-serif;
