*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 1px solid #9e7f66;
  outline-offset: 2px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  background-color: #fff;
}

main {
  flex-grow: 1;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", "Arial", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #17192b;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  bottom: none;
  outline: none;
  background-color: transparent;
  display: block;
}

ul, ol {
  list-style: none;
}

h1 {
  font-size: 8rem;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 300;
}

img {
  display: block;
}

.wrapper {
  padding: 6.5rem 0 19.8rem;
  background-image: url("/images/jpg/home-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper__img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: none;
}
@media only screen and (max-width: 768px) {
  .wrapper__img {
    display: block;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 0 0 21rem;
    background-image: none;
    background-color: #111111;
  }
}

.navigation {
  padding: 20rem 0 12rem;
  background-color: #111111;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .navigation {
    padding: 0;
  }
}
.navigation .navigation-item {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
.navigation .navigation-item__box {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .navigation .navigation-item__box {
    flex-direction: column;
    align-items: center;
    padding-top: 9rem;
    padding-bottom: 9.6rem;
    margin: 0;
  }
}
.navigation .navigation-item__box .list {
  text-align: center;
}

.navigation-item__box {
  display: flex;
  justify-content: space-between;
}

.images-line-box {
  display: flex;
  align-items: start;
}

.line-image {
  margin-top: 1.8rem;
}

.navigation-right__item {
  display: flex;
  gap: 3rem;
}

.borderB {
  border-bottom: 1px solid #353535;
  padding-bottom: 2.4rem;
  margin-bottom: 2.4rem;
}

.mb {
  margin-top: 5.8rem;
}

.navigation-right-list__p {
  max-width: 350px;
}

.header {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 15rem;
}
.header a {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }
}

.hero {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  color: #fff;
}
.hero__text-wrapper {
  width: 100%;
  max-width: 500px;
}
@media only screen and (max-width: 768px) {
  .hero__text-wrapper {
    max-width: 573px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}
.hero h1 {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 4.8rem;
    margin-bottom: 2rem;
  }
}
.hero p {
  width: 100%;
  max-width: 455px;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 768px) {
  .hero p {
    max-width: 100%;
  }
}

.sidebar-item1 {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .sidebar-item1 {
    padding: 0;
    background-image: url(/images/svg/bg.svg);
    background-repeat: no-repeat;
    background-position-x: -55rem;
    background-position-y: 10rem;
  }
}

.sidebar-item2 {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .sidebar-item2 {
    padding: 0;
    background-image: url(/images/svg/bg-opposite.svg);
    background-repeat: no-repeat;
    background-position-x: 35rem;
    background-position-y: bottom;
  }
}

.sidebar-top {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10rem;
  background-image: url(/images/svg/bg.svg);
  background-repeat: no-repeat;
  background-position: 0 26rem;
}
@media only screen and (max-width: 768px) {
  .sidebar-top {
    flex-direction: column;
    max-width: 768px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-image: none;
  }
}

.sidebar-top__img {
  margin-top: -7rem;
}
@media only screen and (max-width: 768px) {
  .sidebar-top__img {
    display: none;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    background-size: cover;
    width: 574px;
    height: 360px;
  }
}

.sitebar-small {
  display: none;
}
@media only screen and (max-width: 768px) {
  .sitebar-small {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    background-size: cover;
    width: 574px;
    height: 360px;
  }
}

.circle-line {
  width: 71px;
  height: 7px;
  margin-bottom: 5.8rem;
  align-self: center;
}

.list__h2 {
  margin-bottom: 2.7rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1;
  letter-spacing: -0.5px;
}

.list__p {
  max-width: 445px;
  font-size: 2rem;
  line-height: 1.5;
}

.sidebar-bottom {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(/images/svg/bg-opposite.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .sidebar-bottom {
    flex-direction: column-reverse;
    max-width: 768px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .list {
    display: flex;
    flex-direction: column;
  }
}

.sidebar__image {
  position: absolute;
  top: 28rem;
  right: 5rem;
}
@media only screen and (max-width: 768px) {
  .sidebar__image {
    position: absolute;
    top: 22rem;
    right: 1rem;
  }
}

.sidebar-bottom-img {
  margin-bottom: -7rem;
}
@media only screen and (max-width: 768px) {
  .sidebar-bottom-img {
    display: none;
  }
}

.light-btn {
  padding: 2.4rem 4.8rem;
  border: 1px solid inherit;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1;
  letter-spacing: 0.14em;
  color: #fff;
  display: block;
  text-transform: uppercase;
}

.light-btn {
  border: 1px solid #fff;
}

.light-btn:hover {
  background-color: #fff;
  color: #17192b;
}

.hero__btn {
  display: inline-flex;
}/*# sourceMappingURL=main.css.map */