.forms {
  width: 100%;

  &-item {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 16rem;
    padding-bottom: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include responsive(medium) {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  .forms-right {
    margin-top: 7rem;
  }
}

.forms-left {
  display: flex;
  justify-content: center;
  position: relative;

  @include responsive(medium) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.forms-line {
  width: 95px;
  height: 1px;
  margin-top: 45rem;
  background-color: $primary-color;
  @include responsive(medium) {
    display: none;
  }
}

.forms-icon {
  position: absolute;
  left: -5rem;
  top: -3rem;
  @include responsive(medium) {
    margin-left: 10rem;
  }
  @include responsive(small) {
    display: none;
  }
}
.forms__p {
  max-width: 445px;
}

.forms__h2 {
  @include text-h2;
  margin-bottom: 2rem;
  @include responsive(x-small) {
    font-size: 3.2rem;
  }
}
.forms__p {
  @include large-text;
  margin-bottom: 6rem;
  @include responsive(x-small) {
    max-width: 327px;
    font-size: inherit;
  }
}
.forms__h3 {
  cursor: pointer;
  opacity: 0.5;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1.6;
  letter-spacing: 0.14rem;

  @include responsive(medium) {
    display: none;
  }
}
.forms__h3:hover {
  opacity: 1;
}

.small-h3 {
  cursor: pointer;
  opacity: 0.5;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1.6;
  letter-spacing: 0.14rem;
  display: flex;
  position: relative;
}
.small-h3:hover {
  opacity: 1;
}
.small-h3::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: $primary-dark-color;
  position: absolute;
  bottom: -8px;
  right: 50%;
  transition: width 0.25s linear;
}
.small-h3::before {
  content: "";
  width: 0px;
  height: 2px;
  background-color: $primary-dark-color;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transition: width 0.25s linear;
}

.small-h3:hover::after,
.small-h3:hover::before {
  width: 25%;
}

.forms__small-list {
  display: none;

  @include responsive(medium) {
    width: 100%;
    max-width: 992px;
    padding: 0 4rem 0 4rem;
    margin-top: 5.7rem;
    display: flex;
    justify-content: space-between;
  }
  @include responsive(x-small) {
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }
}
.forms-img {
  object-fit: cover;
  object-position: top;
  @include responsive(medium) {
    width: 573px;
    height: 360px;
  }
  @include responsive(small) {
    width: 100%;
    object-fit: cover;
    object-position: top;
    padding: 0 2.4rem;
    max-width: 573px;
    height: 400px;
  }
}
