.header {
  @include container();
  margin-bottom: 15rem;

  a {
    display: flex;
  }

  @include responsive(small) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
  }
}

.hero {
  @include container();
  color: $white-color;

  &__text-wrapper {
    width: 100%;
    max-width: 500px;

    @include responsive(small) {
      max-width: 573px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 auto;
    }
  }
  h1 {
    margin-bottom: 1rem;
    @include responsive(small) {
      font-size: 4.8rem;
      margin-bottom: 2rem;
      
      @include responsive(x-small) {
        font-size: 3.2rem;
      }
    }
  }
  p {
    width: 100%;
    max-width: 455px;
    @include large-text;
    margin-bottom: 4rem;

    @include responsive(small) {
      max-width: 100%;
    }
    @include responsive(x-small) {
      max-width: 327px;
      font-size: inherit;
    }
  }
}
