.navigation {
  padding: 20rem 0 12rem;
  background-color: $primary-dark-color;
  color: $white-color;

  @include responsive(medium) {
    padding: 0;
  };

  .navigation-item {
    @include container();

    &__box {
      display: flex;
      justify-content: space-between;

      @include responsive(medium) {
        flex-direction: column;
        align-items: center;
        padding-top: 9rem;
        padding-bottom: 9.6rem;
        margin: 0;
      };
      .list {
        text-align: center;
      }

    }
  }
}
.navigation-item__box {
  display: flex;
  justify-content: space-between;
}

.images-line-box {
  display: flex;
  align-items: start;

  @include responsive(x-small) {
    justify-content: center;
  }
}

.line-image {
  margin-top: 1.8rem;
  
  @include responsive(x-small) {
    display: none;
  }
}

.navigation-right {
  &__item {
    display: flex;
    gap: 3rem;

    @include responsive(x-small) {
      flex-direction: column;
      text-align: center;
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }
}
.borderB {
  border-bottom: 1px solid #353535;
  padding-bottom: 2.4rem;
  margin-bottom: 2.4rem;
}
.mb {
  margin-top: 5.8rem;
}
.navigation-right-list__p {
  max-width: 350px;
}

.nav-imageFoot {
  @include responsive(x-small) {
    width: 100%;
    max-width: 327px;
    max-height: 245px;
  }
}