.sidebar-item1 {
  width: 100%;
  @include responsive(medium) {
    padding: 0;
    background-image: url(/images/svg/bg.svg);
    background-repeat: no-repeat;
    background-position-x: -55rem;
    background-position-y: 10rem;
    padding: 0 10rem 0 10rem;
  }
  @include responsive(small) {
    padding: 0 5rem 0 5rem;
  }
  @include responsive(x-small) {
    padding: 0 2.4rem 0 2.4rem;
  }

}

.sidebar-item2 {
  width: 100%;
  @include responsive(medium) {
    padding: 0;
    background-image: url(/images/svg/bg-opposite.svg);
    background-repeat: no-repeat;
    background-position-x: 35rem;
    background-position-y: bottom;
    padding: 0 10rem 0 10rem;
  }
  @include responsive(small) {
    padding: 0 5rem 0 5rem;
  }
  @include responsive(x-small) {
    padding: 0 2.4rem 0 2.4rem;
  }
}

// SIDEBAR TOP
.sidebar-top {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10rem;
  background-image: url(/images/svg/bg.svg);
  background-repeat: no-repeat;
  background-position: 0 26rem;
  @include responsive(large) {
    background-image: none;
  }
  @include responsive(extra) {
    flex-direction: column;
    max-width: 768px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-image: none;
  }
}
.list__h2 {
  margin-bottom: 2.7rem;
  @include text-h2;

  @include responsive(x-small) {
    font-size: 3.2rem;
  }
}
.list__p {
  max-width: 445px;
  @include large-text;

  @include responsive(x-small) {
    font-size: inherit;
  }
}
// SIDEBAR BOTTOM
.sidebar-bottom {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(/images/svg/bg-opposite.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;

  @include responsive(extra) {
    flex-direction: column;
    max-width: 768px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-image: none;
  }
  @include responsive(medium) {
    background-image: none;
    flex-direction: column-reverse;
    max-width: 768px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    padding-bottom: 12rem;
  }
}

.list {
  @include responsive(small) {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
}

// images
.sidebar-top__img {
  margin-top: -7rem;
  @include responsive(medium) {
    display: none;
  }
}

.sidebar-bottom-img {
  margin-bottom: -7rem;

  @include responsive(medium) {
    display: none;
  }
}

.sidebar__image {
  position: absolute;
  top: 28rem;
  right: 5rem;
  @include responsive(small) {
    position: absolute;
    top: 22rem;
    right: 1rem;
  }
}

.circle-line {
    width: 71px;
    height: 7px;
    margin-bottom: 5.8rem;
    align-self: center;
  }
  
// small img
.sitebar-small {
  display: none;
  object-fit: cover;
  @include responsive(medium) {
    width: 100%;
    max-width: 573px;
    max-height: 360px;
    display: block;

  }
}
