%button {
  padding: 2.4rem 4.8rem;
  border: 1px solid inherit;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1;
  letter-spacing: 0.14em;
  color: $white-color;
  display: block;
  text-transform: uppercase;
}

.light-btn {
  @extend %button;
  border: 1px solid $white-color;
}
.light-btn:hover {
  background-color: $white-bg-color;
  color: $cesondary-color;
}

.hero__btn {
  display: inline-flex;
}


.forms__btn {
  display: inline-flex;
  @extend %button;
  border: 1px solid $primary-dark-color;
  background-color: $primary-dark-color;
  margin-bottom: 8rem;
}
.forms__btn:hover {
  background-color: $white-bg-color;
  color: $cesondary-color;

}


.footer__btn{
  display: inline-flex;
  @extend %button;
  border: 1px solid $primary-dark-color;
  background-color: $primary-dark-color;
}

.footer__btn:hover{
  background-color: $white-bg-color;
  color: $cesondary-color;

}